*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Lora',sans-serif;
    background:#f5f7fa;
    color:#333;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.topbar{
    background:#002147;
    color:white;
    padding:10px 0;
    font-size:14px;
}

header{
    width: 100%;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:2000;
}

.header-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
    position: relative;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:60px;
}

.logo h1{
    font-size:20px;
    color:#002147;
}

.logo span{
    font-size:13px;
    color:#777;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#002147;
    font-weight:500;
    transition:0.3s;
    position: relative;
}

nav a:hover{
    color:#0077ff;
}

.hamburger{
    position: relative;
    display: none;
    font-size: 30px;
    color: #002147;
    cursor: pointer;
    z-index: 9999;
    }
.hero{
    height:90vh;
    background:url('../foto/kantor.jpg') center/cover;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,33,71,0.7);
}

.hero-content{
    position:relative;
    color:white;
    text-align:center;
    width:70%;
}

.hero-content h2{
    font-size:52px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    margin-bottom:30px;
    line-height:1.8;
}

.hero-content button{
    padding:15px 35px;
    border:none;
    background:#0077ff;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:38px;
    color:#002147;
}

.section-title p{
    color:#777;
}

.news{
    padding:90px 0;
}

.news-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-body{
    padding:25px;
}

.card-body span{
    color:#0077ff;
    font-size:14px;
}

.card-body h3{
    margin:15px 0;
    color:#002147;
}

.card-body p{
    color:#666;
    line-height:1.7;
}
.card-link{
    text-decoration:none;
    color:inherit;
    display:block;
}

.card-link:hover{
    text-decoration:none;
    color:inherit;
}

.services{
    background:#002147;
    padding:90px 0;
}

.white h2,
.white p{
    color:white;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.service-box{
    background:white;
    padding:40px 30px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}

.service-box:hover{
    transform:translateY(-8px);
}

.service-box h3{
    color:#002147;
    margin-bottom:10px;
}

.stats{
    padding:80px 0;
    background:#f0f4f8;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    text-align:center;
}

.stat-item{
    background:white;
    padding:40px;
    border-radius:10px;
}

.stat-item h2{
    color:#0077ff;
    font-size:42px;
}

footer{
    background:#00152d;
    color:white;
    padding:60px;
}

.footer-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding-bottom:40px;
}

.footer-grid h3{
    margin-bottom:45px;
}

.footer-grid p{
    color:#ccc;
    line-height:1.8;
}

.map-box{
 width:100%;
    overflow:hidden;
    border-radius:12px;
    position:relative;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    background:white;
    margin-top: 10px;
    margin-bottom: 60px;
}
.map-box iframe{
    width:100%;
    height:250px;
    border:none;
    display:block;
    border-radius:12px;
}
.social-media {
  
    padding: 40px 20px;
    color: white;
}
.social-media h2 {
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.social-icons a {
     text-decoration: none;
    color:white;
    font-size: 20px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-icons a:hover {
    background: #294c58;
    
    transform: scale(1.1);
}

.copyright{
    border-top:1px solid rgba(255,255,255,0.1);
    text-align:center;
    padding:20px;
    color:#aaa;
}

@media(max-width:768px){

   
    .header-container{
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger{
        display: block;
    }
    .nav{
        position: absolute;
        top: 100%;
        left:0;
        width: 100%;
    }
    .nav ul{
        display: none;
        flex-direction: column;
        background: white;
        width: 100%;
        padding: 20px 0;
        gap: 0;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
    /* saat aktif */
    nav ul.active{
        display:flex;
    }

    nav ul li{
        width:100%;
        text-align:center;
        padding:15px 0;
        border-bottom:1px solid #eee;
    }

    nav ul li:last-child{
        border-bottom:none;
    }

    .hero-content{
        width:90%;
    }

    .hero-content h2{
        font-size:34px;
    }
    .map-box iframe{
        height: 250px;
    }
    
}